<p><b>Privacy Policy</b></p>

<p>ThisRThat ("we" or "us") is committed to protecting the privacy of our users. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our mobile application [insert app name] (the "Application"). Please read this Privacy Policy carefully. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE APPLICATION.</p>

<p>We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the "Last updated" date of this Privacy Policy. You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Application after the date such revised Privacy Policy is posted.</p>

<p><b>COLLECTION OF YOUR INFORMATION</b></p>

<p>We may collect information about you in a variety of ways. The information we may collect on the Application includes:</p>

<p><b>Personal Data</b></p>

<p>Personally identifiable information, such as your name, email address, and phone number.</p>

<p><b>Non-Personal Data</b></p>

<p>Usage Data such as your device's Internet Protocol address (e.g. IP address), browser type and version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>

<p><b>USE OF YOUR INFORMATION</b></p>

<p>We may use the information we collect from you when you use the Application to:</p>

<p>Provide, maintain, and improve the Application;
Notify you about changes to the Application;
Respond to your inquiries and support requests;
Monitor the usage of the Application;
Detect, prevent and address technical issues.</p>

<p><b>DISCLOSURE OF YOUR INFORMATION</b></p>

<p>We may share your information with third parties only in the ways that are described in this Privacy Policy. We may disclose your personal information to law enforcement, government officials, or other third parties if we are required to do so by law or if we believe in good faith that the disclosure is necessary to (i) protect our rights or property, (ii) protect your safety or the safety of others, or (iii) investigate fraud.</p>

<p><b>DATA SECURITY</b></p>

<p>We take reasonable steps to protect the information provided to us from unauthorized access, use, or disclosure. However, no method of transmission over the Internet or method of electronic storage is 100% secure.</p>

<p><b>CONTACT US</b></p>

<p>If you have questions or comments about this Privacy Policy, please contact us at <a href="mailto:support@thisrthat.co">support@thisrthat.co</a>.</p>

Last updated: March 28, 2023