<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Website</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&display=swap");

      * {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: "Source Sans Pro", sans-serif;
      }
      body {
        background-color: #89d7f6;
      }
      .block-system {
        background: #fff;
        max-width: 368px;
        border: 1px solid #3655a4;
        margin: auto;
        border-radius: 5px;
        padding: 25px 23px;
      }
      .block-system h1 {
        color: #16298c;
        margin-bottom: 35px;
      }
      .block-system p {
        color: #16298c;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      .block-item-design {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="block-item-design">
      <div class="block-system">
        <h1>Thank you!</h1>
        <p>
          Your vote has been logged. We will text you once the results are in.
        </p>
      </div>
    </div>
  </body>
</html>
