<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    
    <style>
   @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&display=swap');


    	* {
    	  margin: 0;
    	  padding: 0;
    	  list-style: none;
    	  font-family: 'Source Sans Pro', sans-serif
    	  }
    	  body {
    	       background-color: #89d7f6;
    	  }
    	 .block-system {
	    background: #fff;
	    max-width: 368px;
	    border: 1px solid #3655A4;
	    margin: auto;
	    border-radius: 5px;
	    padding: 25px 23px;
	}
	.block-system li {
    float: left;
    width: 47%;
    padding: 0 5px;
}
.block-system ul li h3 {
    color: #3655A4;
    text-align: center;
    font-weight: 300;
}
	.block-system li img {
	  width: 100%;
	  }
	.block-system ul {
	   overflow: hidden;
	}
	.block-system h2 {
    color: #16298C;
    margin-bottom: 25px;
}
.block-system li a {
    background-color: #DDF5FF;
    border: 1px solid #3655A4;
    width: 80%;
    display: block;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #3655A4;
    font-weight: bold;
}
.block-item-design {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
    </style>
	<%console.log(data)%>
  </head>
  <body>
  	<div class="block-item-design">
  	     <div class="block-system">
  	         <h2><%=data.text%></h2>
  	         <ul>
  	             <li>
  	             	 <img src="images/racta1.png" />
  	             	 <h3>Hamburger</h3>
  	             	 <a href="javascript:void(0)">A</a>
  	             </li>
  	         </ul>
  	     </div>
  	</div>
  </body>
</html>
